<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulma.min.css}" />
</head>

<body>
<div class="container">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img th:src="@{/img/ilnpu.png}" alt="Ilnpu">
            </a>

            <div class="navbar-item has-icons-left">
                <form th:action="@{/search}" method="post">
                    <input class="input" name="uuu" type="text" placeholder="search" th:value="${uuu}">
                </form>
            </div>

            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/}">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        More
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" th:href="@{/news}">
                            新闻
                        </a>
                        <a class="navbar-item" th:href="@{/admin/stu}">
                            当前总绑定
                        </a>
                        <a class="navbar-item" th:href="@{/allWxUser}">
                            当前微信用户
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" th:href="@{/admin/log}">
                            今日日志
                        </a>
                        <a class="navbar-item" href="/users/oG8AR0U_WLI3ZO9lkSPS-DThHQa0">
                            My
                        </a>
                    </div>
                </div>



            </div>

            <!--<div class="navbar-end" sec:authorize="isAuthenticated()">

                <p class="control is-active">
                    <span class="title is-3 is-spaced is-active" sec:authentication="name"></span>
                </p>

            </div>-->

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">

                        <p class="control" sec:authorize="isAnonymous()">
                            <a class="button is-primary" th:href="@{/login}">
                                <span>登录</span>
                            </a>
                        </p>

                    </div>
                </div>

                <div class="navbar-item" sec:authorize="isAuthenticated()">
                    <div class="field is-grouped">

                        <p class="control">
                            <span class="title is-3 is-spaced " sec:authentication="name"></span>
                        </p>

                        <p class="control">
                        <form action="/logout" th:action="@{/logout}" method="post">
                            <input class="button is-danger" type="submit" value="退出">
                        </form>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function($el) {
                $el.addEventListener('click', function() {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

</html>