<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="tabs container">
    <ul>
        <li class="is-active"><a>学生</a></li>
        <li><a>微信</a></li>
        <li><a>课表</a></li>
        <li><a>成绩</a></li>
    </ul>
</div>
<div class="container is-centered">
    <div class="box">
        <table class="table is-bordered is-striped is-narrow is-hoverable">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>学院</th>
                <th>专业</th>
                <th>性别</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stu : ${stu}">
                <td th:text="${stu.sid}"></td>
                <td th:text="${stu.name}"></td>
                <td th:text="${stu.college}"></td>
                <td th:text="${stu.major}"></td>
                <td th:text="${stu.sex}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box">
        <table class="table  is-striped is-narrow is-hoverable">
            <thead>
            <tr>
                <th>昵称</th>
                <th>性别</th>
                <th>国家</th>
                <th>省份</th>
                <th>城市</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.nickName}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.country}"></td>
                <td th:text="${user.province}"></td>
                <td th:text="${user.city}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box container">
        <div id="mymodal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">课程编辑</p>
                    <button id="modalclose" class="delete modalclose" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">名称</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input id="name" class="input" type="text" placeholder="请输入名称">
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">教室</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input id="room" class="input" type="text" placeholder="请输入教室">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">周数</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input id="week" class="input" type="text" placeholder="请输入周数">
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button id="saveCourse" class="button is-success">保存</button>
                    <button class="button modalclose">取消</button>
                </footer>
            </div>
        </div>
        <div class="card" th:each="courses,iterStat : ${courses}" >
            <header class="card-header">
                <p class="card-header-title" th:text="${weeks[iterStat.index]}"></p>

                <a  class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <table class="table is-striped is-narrow is-hoverable">
                        <thead>
                        <tr>
                            <th>节数</th>
                            <th>名称</th>
                            <th>教室</th>
                            <th>周数</th>
                            <th>教师</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="currentcourses" th:each="courses : ${courses}">
                            <td th:text="${courses.section*2+1}+' - '+${courses.section*2+courses.times}"></td>
                            <td th:text="${courses.name}"></td>
                            <td th:text="${courses.room}"></td>
                            <td th:text="${courses.week}"></td>
                            <td th:text="${courses.tname}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="box container">
        <div class="card" th:each="grade : ${grades}">
            <header class="card-header">
                <p class="card-header-title" th:text="${grade.semester}"></p>
            </header>
            <div class="card-content">
                <div class="content">
                    <table class="table is-striped is-narrow is-hoverable">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>成绩</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="g : ${grade.list}">
                            <td th:text="${g.cname}"></td>
                            <td th:text="${g.results}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<footer th:replace="~{fragments/footer :: footer}">
</footer>
<script src="/js/jquery-3.1.1.min.js"></script>
<script>

    $(function () {
        $(".box").hide().eq(0).show();
        $("ul>li").click(function () {
            $(this).addClass('is-active').siblings('li').removeClass('is-active');
            var index = $(this).index();
            $(".box").hide().eq($(this).index()).show();
        })

        $(".modalclose").click(function () {
            $("#mymodal").removeClass('is-active')

        })

        $("#saveCourse").click(function () {
            $.ajax({url:"/admin/saveCourse",success:function(result){
                console.log(result);
            }});

        })

        $(".currentcourses").click(function () {
            $("#mymodal").addClass('is-active')
            var t = $(this).find("td");
            $("#name").val(t.eq(1).text());
            $("#room").val(t.eq(2).text());
            $("#week").val(t.eq(3).text());
            console.log($(this).text())

        })



    });

</script>
</html>
