<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{fragments/header :: header}">
</head>

<style type="text/css">
    .my{
        position: absolute;
        top:50%;
    }
</style>

<div class="container">
    <div class="columns" style="align-items: center;">
        <div class="column is-4 is-offset-4">
            <figure class="image">
                <img src="/img/ilnpuWXCode.jpg">
            </figure>
        </div>

    </div>


</div>
</body>
<footer th:replace="~{fragments/footer :: footer}">
</footer>

</html>